<%- include includes/top.ejs %>
<div class="btn-group functionLevel" data-toggle="buttons">
    <label class="btn btn-primary active" onclick="storeModule.changeFunction('insert')" >
        <input type="radio" name="options" id="option1" autocomplete="off" checked> 基本操作
    </label>
    <label class="btn btn-primary" onclick="storeModule.changeFunction('search')" >
        <input type="radio" name="options" id="option2" autocomplete="off"> 搜尋
    </label>
</div>

<div class="searchField" style="display: none">
    <p class="navbar-text">批次處理: </p>
    <div class="col-lg-6">
        <div class="input-group" style="width: 400px; margin-bottom: 15px; margin-top: 8px;padding-left: 0;">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>

<div class="dropdownContainer">

    <div class="dropdown level1">
        第一層:
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        </ul>
    </div>

    <div class="dropdown level2" style="">
        第二層:
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" disabled="disabled">
            <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        </ul>
    </div>

    <div class="dropdown level3" style="">
        第三層:
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" disabled="disabled">
            <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        </ul>
    </div>

</div>

<form class="navbar-form navbar-left level4" style="display: none;">
    <div class="input-group">
        <span class="input-group-addon">Slot1</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Slot2</span>
        <input type="text" class="form-control">
    </div>
</form>


<script>
    $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
        var $target = $( event.currentTarget );
        $target.closest( '.dropdown' )
                .find( '[data-bind="label"]' ).text( $target.text() )
                .end()
                .children( '.dropdown-toggle' ).dropdown( 'toggle' );

        return false;
    });

    storeModule.getPools();
</script>

<style>
    .btn-group{
        padding-bottom: 30px;
    }

    .dropdownContainer{
        display: inline-block;
        width: 100%;
    }

    .dropdownContainer div.dropdown{
        float: left;
        padding-right: 30px;
    }

    form.level4{
        padding-left: 0px;
        float: left;
        width: 800px;
    }

    form.level4 div.input-group{
        padding-bottom: 15px;
    }

    form.level4 input.form-control{
        width: 150px !important;
    }

    div.functionLevel label.btn-primary{
        background-color: white;
        border-color: #ccc;
        color: black;
    }
    div.functionLevel .btn:active{
        //box-shadow: none;

    }
    div.functionLevel .btn.active{
        background-color: #e6e6e6;
        boder-color: #adadad;
    }
</style>

<%- include includes/footer.ejs %>