<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test</title>
    <script>

        window.basePath = '/public/';
    </script>
    <script type="text/javascript" src="/public/js/attach-stylesheet.js"></script>
    <script type="text/javascript" src="/public/js/dr-framework-compressed-en_US.js"></script>

    <script>


    </script>
    <style type="text/css">

    </style>
</head>
<body style="width: 800px; padding: 50px;">
    <dl class="tabs">
        <dt class="tab active first">
            This is an example tab
        </dt>
        <dt class="tab">
            This is an example tab 2
        </dt>
        <dd class="tabContainer" >
            <div class="tabContent" >
                Tab Content Demo
            </div>
        </dd>
        <dd class="tabContainer inactive" >
            <div class="tabContent" >
                Tab Content
                Tab Content emo 2
            </div>
        </dd>
    </dl>
<script>

    $.dr.init();
</script>
</body>
</html>